PORT=3000
DATABASE_URL="postgresql://blog:blog@localhost:5432/blog?schema=public"
WEBAPP_URL=http://localhost
#BETTER_AUTH_SECRET=XueK34HhjpWYudjiuhHWqS8Z6jpb3yZao2fTKCUFqrCUQCSq8BgrfX6ilIvjLMhE
#BETTER_AUTH_URL=http://localhost/
#VITE_APP_URL=http://localhost/

